POSTGRESQL_DB_HOST=localhost
POSTGRESQL_DB=project
POSTGRESQL_DB_SCHEMA=project
POSTGRESQL_USERNAME=postgres
POSTGRESQL_PASSWORD=postgres

JWT_SECRET=change-me-local-development-secret-key-12345678901234567890
JWT_EXPIRATION=1h